<h1>关于我们</h1>
<p>
  我们的大学校园生活丰富多彩，每天都有各种各样的活动。但是没有一个的信息发布平台对这些活动信息进行归纳整理。
</p>
<p>
  “我同济”为同济师生创建了一个查看和发布生活、学习、娱乐、求职等各方面的活动信息的平台，帮助用户发起、浏览校园活动。
</p>
<p>
  欢迎提供意见或建议，我们的邮箱是 <a href="mailto:hi@wotongji.com">hi@wotongji.com</a>  
</p>
