<!DOCTYPE html>
<html>
  <head>
    <title>我同济</title>
    <%= stylesheet_link_tag("bootstrap.min") %>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
  	<header class="navbar">
  	  <div class="navbar-inner">
  	  	<nav>
  	  		<a class="brand" href="#">Home</a>
  	  		<ul class="nav pull-right">
  	  			<li><a href="#">Users</a></li>
  	  			<li><a href="#">Help</a></li>
  	  			<li><a href="#">Login</a></li>
  	  		</ul>
  		</nav>
  	  <div>
  	</header>
  	<div class="container">
	  <p>校园活动发布平台</p>
	</div>
  </body>
</html>

