<% provide(:title, '重置密码') %>
<h1>重置密码</h1>

<p>
  请您在两小时内点击邮件里的密码重置链接，如果没有收到邮件，请检查垃圾邮件箱。
</p>
<%= form_tag password_reset_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions">
    <%= submit_tag "发送邮件" %>
  </div>
<% end %>
