<li class="activity" id="<% activity.id %>">
  <%= image_tag activity.image_url(:thumb) if activity.image? %>
  <p class="title"> <%= link_to activity.title, activity %> </p>
  <p class="starttime"> 开始时间：<%= activity.start_time.in_time_zone.to_s(:cn_without_year) %> </p>
  <p class="username"> 发布者：<%= activity.user.name %> </p>
</li>
