/* universal */
body {
  padding-top: 60px;
  background-color: whiteSmoke;
}

/* footer */
footer {
  margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 10px;
}

/* activity index */
ul {
	list-style: none;
	margin-left: 0;
}

.activity {
	margin-top: 10px;
  border-bottom: 1px solid gray;
}

.title {
	font-size: 20px;
}

/* user#new */
.container form input {
  display: block;
}

.well-white{
	background-color: white;
	order: 1px solid #D5D5D5;
    margin-bottom: 20px;
    position: relative;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
   
    width: 230px;
    margin: 12px 0 0;
    padding: 20px 25px 15px;

    top: 100px;
    left: 300px;


    border-left: 1px solid #D9D9D9;
    
  }


.form {
margin-top: 20px;
}

.well-white-activity{
	background-color: white;
	order: 1px solid #D5D5D5;
    margin-bottom: 20px;
    position: relative;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);

    width: 525px;
    height: 325px;
    margin: 12px 0 0;
    padding: 20px 25px 15px;
    top: 30px;
    left: 50px;
   
    border-left: 1px solid #D9D9D9;
}

.space1-activities{

    width: 220px;
    height: 290px;
    padding: 20px 25px 15px;
    position: absolute;
    top: 0px;
    left: 0px;

    line-height: 5;
}
.space2-activities{

    width: 220px;
    height: 290px;
    padding: 20px 25px 15px;
    position: absolute;
    top: 0px;
    left: 300px;
}

.activity-content {
  width: 650;
  background: #eaeaea;
  word-wrap: break-word;
  word-break: normal;
}

/* activity#show users */
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .avatar {
    margin: 1px 1px;
  }
}

.float_left {
  float: left;
}



/* activity#show comments */
.comment {
  margin-top: 10px;
  overflow: hidden;
}
.avatar {
  float: left;
  margin-right: 10px;
}

/* override bootstrap default value */
#comment_content {
  width: auto; 
}
.comment-content {
  width: 90%;
  float: right;
}

.field {
  margin: 20px 0 0 60px;
}

/* activity#new */
/* css for timepicker */
/* http://trentrichardson.com/examples/timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* modified by greenmoon55 */
#ui-datepicker-div {
  font-size: 5px;
}
