/* universal */
body {
  padding-top: 60px;
}

/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 10px;
}

/* activity index */
ul {
	list-style: none;
	margin-left: 0;
}

li.activity {
	margin-top: 10px;
}

.title {
	font-size: 14px;
}

.dailin {
	position: absolute;
	left: 175px;
	top: 640px;
}