@import "bootstrap";

/* universal */
body {
  padding-top: 60px;
  background-color: whiteSmoke;
}
/*background-color: whiteSmoke;*/

/* footer */
footer {
  margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 10px;
}

/* activity index */
ul {
	list-style: none;
	margin-left: 0;
}

.activity {
	margin-top: 10px;
  border-bottom: 1px solid gray;
}

.title {
	font-size: 20px;
}

/* user#new */
.container form input {
  display: block;
}

.well-white {
	background-color: white;
	order: 1px solid #D5D5D5;
    margin-bottom: 20px;
    position: relative;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
   
    width: 230px;
    margin: 12px 0 0;
    padding: 20px 25px 15px;

    top: 100px;
    left: 300px;


    border-left: 1px solid #D9D9D9;
    
}


.form {
margin-top: 20px;
}

.well-white-activity {
	background-color: white;
	order: 1px solid #D5D5D5;
    margin-bottom: 20px;
    position: relative;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);

    width: 525px;
    height: 325px;
    margin: 12px 0 0;
    padding: 20px 25px 15px;
    top: 30px;
    left: 50px;
   
    border-left: 1px solid #D9D9D9;
}

.space1-activities{

    width: 220px;
    height: 290px;
    padding: 20px 25px 15px;
    position: absolute;
    top: 0px;
    left: 0px;

    line-height: 5;
}
.space2-activities{

    width: 220px;
    height: 290px;
    padding: 20px 25px 15px;
    position: absolute;
    top: 0px;
    left: 300px;
}

.activity-content {
  width: 650;
  background: #eaeaea;
  word-wrap: break-word;
  word-break: normal;
  margin-top: 7px;
}

/* activity#show users */
.user-avatars {
  overflow: auto;
  /*margin-top: 10px;*/
  .avatar {
    margin: 1px 1px;
  }
}

/* float and margin */
.float-left {
  float: left;
}

/* control class */
.controls {
  margin-left: 30px;
  float: left;
}

/* tabs menu */

.menu 
{
  background-color:#61b4cf; 
  color:#272727; 
  border-bottom:1px solid #d7d7d7; 
  height:25px;
  width:635px;
  font-size:22px;
}

.menu ul 
{
  margin-left: 25px;
  padding:0px; 
  list-style:none; 
  text-align:center;
}

.menu li 
{
  display:inline; 
  line-height:23px;
  float:left
}

.menu li a 
{
  color:#000000; 
  text-decoration:none; 
  padding:4px 5px 6px 5px;  
  border-left:1px solid #ececec; 
  border-right:1px solid #ececec;
}

.menu li a.tabactive 
{
  border-left:1px solid #d7d7d7; 
  border-right:1px solid #d7d7d7; 
  background-color:#3aaacf; 
  font-weight:bold;  
  position:relative;
}

#tabcontent1,#tabcontent2,#tabcontent3,#tabcontent4 
{
  width:635px; 
  text-align:center;
  padding:6px 0px;
  font-size:15px; 
  margin-top: 10px;
  margin-bottom:5px;
}

/* activity#show comments */
.comment {
  margin-top: 10px;
  overflow: hidden;
}
.avatar {
  float: left;
  margin-right: 10px;
}

/* override bootstrap default value */
#comment_content {
  width: auto; 
}
.comment-content {
  width: 90%;
  float: right;
}

.field {
  margin: 20px 0 0 60px;
}

/*home*/
.show-body{
  color: #A5A4A4;
}

.home-panel{
  padding-top: 20px;
  padding-left: 34px;
}

ul.navigation {
  width: 204px;
  float: right;
}

.home-person{
  background: url(home-page0.png) no-repeat;
  width: 650px;
  height: 640px;
  padding-top: 80px;
}

#person ul.navigation {
padding-top: 50px;
}

.home-today{
  width: 941px;
  padding-right: 254px;
  padding-top: 116px;
  height: 680px;
  background: url(home-page1.png) no-repeat top right;
  }

#person ul.navigation li.menu-top {
  padding: 0 0 0 85px;
}

.today-panel {
  padding-left: 34px;
  padding-top: 5px;
  text-align: right;
  width: 650px;
  float: right;
  color: #BFF7FF;
}

.today-img{
  position:relative;
  height:395px;
  width: 391px;
  float:left;
  font-size: 15px;
  text-transform: uppercase;
}

.today-list{
  padding-top: 20px;
  text-transform: uppercase;
  float: right;
}


#today ul.navigation {
float: left;
padding: 40px 0 0 20px;
}

#today ul.navigation li.menu-top {
padding: 0 0 0 125px;
}

.home-yesterday{
  width: 1110px;
  padding-top: 95px;
  height: 837px;
  background: url(home-page2.png) no-repeat top right;
}

.home-tomorrow{
  margin-top: 35px;
  width: 990px;
  padding: 105px 110px 0 0;
  height: 719px;
  background: url(home-page3.png) no-repeat;
}

.home-contact{
  width: 960px;
  padding: 40px 200px 10px 0;
  background: url(home-page4.png) no-repeat top left;
  float: left;
}

#today h2 {
text-transform: uppercase;
clear: both;
font-size: 24px;
color: white;
}


/*new activity*/
#new-act-text h2{
  font-weight:normal;
  margin: 10px 0px 0px 0px;
  padding: 0;
}
#new-act-text p{
  margin: 15px 0;
}
#new-act{
  width: 960px;
  height: 770px;
  margin: 30px auto 0 auto;
}
.new-activity{
  zoom:1;
}
.new-act-left{
  width: 590px;
  padding-right: 40px;
  padding-left: 10px;
}

.new-act-left,.new-act-text{
  float: left;

}
.new-act-text{
  width: 267px;
  margin-left: 45px;
  padding-bottom: 15px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-color: #DFDCDA;
  border-bottom-color: #DFDCDA;
}

/*show-activity*/
.show-contant{
  float: left;
  width: 590px;
  padding-right: 30px;
}
.show-up{
  margin: 10px 0 30px 0;
  height: 190px;
}
.show-activity-pic{
  float: left;
  padding: 0;
}
.show-info{
  float: left;
  max-width: 250px;
  margin-left: 20px;
  margin-top: 7px;
}
.show-favor{
  float: right;
  width: 100px;
  height: 100px;
  padding-left: 5px;
  border-left: 1px dashed #DDD;
}

.show-share{
  margin-bottom: 15px;
}
.show-down{
  margin-top: 15px;
}
.show-commend-field{
  margin: 3px 0 0 3px;
}


/*edit user*/
.edit-user-group{
  position: relative;
  background: #EFEFEF;
  padding: 3px;
  border-radius: 3px;
  margin: 0 0 15px 0;
  width: 655px;
  height: 450px;
  float: right;
}
#edit-user h1{
  background-image: -webkit-linear-gradient(#FAFAFA, #E0E0E0);
  background-repeat: repeat-x;
  margin: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border: 1px solid #D8D8D8;
  border-bottom: none;
  padding: 10px 10px 11px 10px;
  font-size: 14px;
  text-shadow: 0 1px 0 white;
  line-height: 18px
}
.w {
  width: 400px;
}
.edit-user-group1{
  padding: 1px 10px;
  background: white;
  border: 1px solid #D8D8D8;
  border-top: 1px solid #CCC;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  color: #666;
  font-size: 13px;
  height: 406px;
}
.edit-user-row{
  margin: 15px 1px 1px;
}
/*user-show*/
.user-show-left{
  float: left;
  width: 220px;
}
.user-show-pic{
  padding: 5px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  width: 201px;
  height: 201px;
  border: 1px solid #DDD;
}
.user-activity{
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin: 0 0 8px 0;
  padding: 8px 0 0 0;
}
.user-interest-act{
  /*border-bottom: 1px solid #DDD;*/
}

.user-show-right{
  float: left;
  width: 680px;
}

/* activity#new */
/* css for timepicker */
/* http://trentrichardson.com/examples/timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* modified by greenmoon55 */
#ui-datepicker-div {
  font-size: 5px;
}


/*new-user*/
#new-user{
  background-color: white;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
  color: #333;
}
#register h1{
  font-size: 30px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: -1px;
  color: #495961;
  z-index: 0;
}
#register h2{
  font-size: 16px;
  color: #666;
  margin-left: 15px;
}
.new-user-contant{
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  height: 500px;
  margin-top: 25px;
}
.new-user-left{
  width: 440px;
  border-right: 1px solid #DDD;
  float: left;
}
.new-user-group{
  margin: 10px 0 0 0;
  padding: 10px;
  background: url("https://a248.e.akamai.net/assets.github.com/images/modules/account/fieldgroup_back.png?7f415d42") 0 0 no-repeat;
  margin-right: 20px;
  margin-left: 10px;
}