<% unless current_user.id == @activity.user_id %>
  <div>
    <% if current_user.interested_in?(@activity) %>
      <%= render 'uninterest' %>
    <% else %>
      <%= render 'interest' %>
    <% end %>
  </div>
<% end %>

