<% provide(:title, '全部活动') %>

<div class="row">
	<div class="span8">
    <div class="row">
      <div class="control-group span4">
        <label class="control-label" for="select-time">按 </label>
        <div class="controls">
          <select class="span2" id="select-time">
            <option>请选择</option>
            <option>时间</option>
          </select>
        </div>
      </div>
      <div class="control-group span4">
        <label class="control-label" for="select-other">  查看 </label>
        <div class="controls">
          <select class="span2" id="select-other">
            <option>请选择</option>
            <option>未开始的活动</option>
            <option>已开始的活动</option>
          </select>
        </div>
      </div>
    </div>
	</div>
	<div class="span4">
    <h4>活动列表：</h4>
    <%= render 'shared/activities_form' %>
	</div>
</div>
