<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <a class="brand" href="#">Home</a>
        <ul class="nav pull-right">
    	    <li><a href="#">发布</a></li>
    	    <li><%= link_to "登录", signin_path %></li>
    	    <li><%= link_to "注册", signup_path %></li>
    	  </ul>
      </nav>
    </div>
  </div>
</header>
