<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <a class="brand" href="#">Home</a>
          <ul class="nav pull-right">
    	  <li><a href="#">Users</a></li>
    	  <li><a href="#">Help</a></li>
    	  <li><a href="#">Login</a></li>
    	</ul>
      </nav>
    </div>
  </div>
</header>
